.box {
    // background-color: lightblue;
    height: 2000px;
    margin-top: 500px;
}

.image {
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
}

.text {
    float: left;
    width: 300px;
    margin-top: 300px;
}

.scroll-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 175, 149);
    transition: 1s;
}

.scrolled-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: rgb(161, 123, 255);
    transition: 1s;
}

.textMove {
    text-align: center;
    transition: 1s;
}

.textMoving {
    text-align: center;
    transform: scale(5);
    transition: 1s;
}

.container {
    margin-top: 50rem;
    height: 50rem;
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.observer {
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    color: rgb(176, 176, 255);
}

.visible {
    opacity: 1;
    transition: 1s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(223, 191, 253);
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
    opacity: 0; //초기설정 나타날때효과 위해
    transition: opacity 1s;
    a {
        text-decoration: none;
        color: inherit;
        transition: all 1s;
    }
    a:hover,
    span:hover {
        color: rgb(161, 107, 255);
        cursor: pointer;
    }
}

.navbar.navbar-fade-in {
    opacity: 1;
}

.progressBar {
    height: 2rem;
    background: linear-gradient(to right, #a0d5fa, #b168fa);
    position: fixed;
    top: 40px;
    transition: all 0.8s;
}

.moveMouse {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: auto;
    transition: all 1s;
}

.move-letter {
    transition: all 1s;
    span {
        font-size: 10rem;
        color: #e0c3fc;
    }
}

.card-scroll-container {
    background-color: pink;
    height: 150rem;
}

.card-container {
    display: flex;
    gap: 30px;
    width: 200rem;
    position: sticky;
    top: 10rem;
}

.card {
    width: 100%;
    background: #a0d5fa;
    padding: 20px;
    img {
        width: 100%;
        object-fit: contain;
    }
}
