.box {
    background-color: lightblue;
    height: 2000px;
    margin-top: 500px;
}

.image {
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
}

.text {
    float: left;
    width: 300px;
    margin-top: 300px;
}

.scroll-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: purple;
    transition: 1s;
}

.scrolled-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: red;
    transition: 1s;
}
