.box {
    // background-color: lightblue;
    height: 2000px;
    margin-top: 500px;
}

.image {
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
}

.text {
    float: left;
    width: 300px;
    margin-top: 300px;
}

.scroll-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 175, 149);
    transition: 1s;
}

.scrolled-text {
    margin-top: 500px;
    text-align: center;
    font-size: 5rem;
    color: rgb(161, 123, 255);
    transition: 1s;
}

.textMove {
    text-align: center;
    transition: 1s;
}

.textMoving {
    text-align: center;
    transform: scale(5);
    transition: 1s;
}

.container {
    margin-top: 50rem;
    height: 50rem;
}
